form {
    font-family: Helvetica, sans-serif;
    width: 50vw;
    margin: 10vh auto;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    text-transform: capitalize;
    color:rgb(19, 18, 18);
}
#firstName, #lastName, #password, #passwordConfirmed, .register-btn, .signin-btn {
    width: 48%;
    box-sizing: border-box;
}
#mobile, #email {
    width: 100%;
    box-sizing: border-box;
}
input {
    display: block;
    margin-bottom: 1rem;
    padding: 0.7rem 0.7rem;
    font-size: 1.25rem;
    border: 1px grey solid;
    border-radius: 5px;
    text-transform: capitalize;
}
input:focus {
    box-shadow: 1px 1px 5px rgb(23, 146, 218);
}
div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.checkbox {
    display: block;
}
#agree {
    margin-bottom: 0;
    display: inline;
}
span {
    display: inline-block;
    color: white;
    background-color:  rgb(23, 146, 218);
    border-radius: 5px;
    padding: 2px 5px;
}
a {
    text-decoration: none;
    color:rgb(23, 146, 218);
}
#click-info {
    width: 70%;
    margin: 0;
}
button {
    display: block;
    padding: 0.7rem 0.7rem;
    font-size: 1.25rem;
    color: aliceblue;
    border: none;
    border-radius: 5px;
    text-transform: capitalize;
    letter-spacing: 1px;
}
.register-btn {
    background-color: rgb(23, 146, 218);
}
.signin-btn {
    background-color: rgb(33, 182, 132);
}
@media screen and (max-width: 480px) {
    form {
        width: 90vw;
    }
    input {
        font-size: 1rem;
    }
    button {
        font-size: 1rem;
    }
}
@media screen and (max-width: 900px) and (min-width: 481px){
    form {
        width: 70vw;
    }
}